#menu {
    background-color: rgba(30, 30, 30, 0.8);
    max-width: 500px;
    width: 300px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding: auto;
    flex-direction: column;
}

.item {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover {
    background-color: rgba(50, 50, 50, 0.5);
    cursor: pointer;
    transition: 10ms;
}