<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    </head>
    <body onload="pageLoad()" class="">
        <div id="background" style="background-image: url('/static/image.png')">
            <div id="splashid">
                <h1 style="margin: auto;">Welcome to Workflow One</h1>
            </div>
        </div>
        <script>
            var e = document.getElementById("splashid");
            var e2 = document.getElementById("background");
            e.classList.add("splash");
            e.classList.add("hide");
            e2.classList.add("hide");
            function pageLoad() {
                e.classList.remove("hide");
                e2.classList.remove("hide");
                setTimeout(() => { e.classList.add("hide") }, 2000);
            }
        </script>
    </body>
    <style>
        * {
            font-family: Inter;
            font-weight: 400;
            margin: 0;
        }
        h1 {
            font-size: 5vh;
        }
        .splash {
            text-align: center; max-width: 100vw; height: 100%; display: flex; flex-direction: column; align-items: center;
        }
        .hide {
            transition-duration: 1s;
            opacity: 0;
        }
        #background {
            transition-duration: 1s;
        }
    </style>
</html>